###### Introduction to DBMS & SQL
- 1 Normalization Subsets of Normalization
- 2  DDL
- 3 DML
- 4  DCL
- 5 TCL
- 6 SQL Operators
- 7 SQL Functions
- 8 SQL Joins
- 9  Lab Session

## Types of Data Models

#### Record Base Logical Model
- Hierarchical Model
- Network Data Model
- Relational Data Model

#### Object Base Logical Model

- Entity Relationship Model


agr hamien 2 entity k beach me relation janna ha toh hum object bnate hain exam mack and jeck k beac me

# DBMS Operation

- Adding New Files(Tables)
- Inserting Data
- Retrievig Data
- Updating Data
- Removing files
- Removing Data

# Advantages Of DBMS

- Sharing of Data Across Applications
- Enhanced Security Mechanism
- Enforce Integrity constraint
- Better Transaction support
- Backup and Recovery System

# Features Of RDBMS

- Every piece of information stored in the form of tables
- Has primary key unique identification of rows
- Has foreign keys to ensure data integrity
- Provide Sql for Data access
- Uses Indexex for faster data retrieval
- Give Access privileges to ensure data security

# Normalization

- Decompose larger,complex tables into smaller and simple onces.
- Moves from lower normal forms to higher normal forms.
####  Need for Normalization
- In order to produce good database design
- To ensure all database operations to be efficiently performed
- Avoid any expensive DBMS operation(time and space)
- Avoid any dublication of information

# Functional Dependency

- consider a relation
   
   Result( student#,Course#,CourseName#,Marks#,Garde#)
      Student# and Course# togther defines exactly one value of marks.Students#,Marks,Course#
      Student# and Course# determines marks or marks is functionaly dependent on course# and student#
-  other functional dependencies in relation
    
    course#-courseName
    
    marks#-grade
    
#### Two types of functional dependencies

Partial Functional Dependencies

Attribute Q partially dependent on attribute p,if and only if it is dependent on the subset of attribute p


Transitive Functional Dependencies

X-->Y  Y-->Z  X-->Z

Student#-->Course#-->Marks-->Grade

# Types Of Normalization

##### 1NF
A relation Schema is said to be 1NF,if and only if:
- All attribute in a relation are atomic(indivisible value)
- There are no repeating elements or group of elements.
##### 2NF
A relation Schema is said to be 1NF,if and only if:
- It is first Normal Form
- No partial dependences exists between non key attributes and key atributes 
##### 3NF
A relation Schema is said to be 3NF,if and only if:
- It is Seconf Normal Form
- Nor transitive dependency exists between non key attributes and key atributes thorugh another non key attributes

# SQL Constraints

- Not Null
- Unique
- Defualt 
- Primary
- check
- index

# Subset of Sql

#### SQL Command Groups
- DDL

Data definition langauge (creation of objects)

Create,Alter,Drop,Truncate,Rename

- DML

Data Manipulation Language(manipulation of data)

Insert,Update delete

- DCL

Data Control Language(assignments and removal of permissions)

Grant: gives acccess privileges to database
Revoke: withdraw access privileges given with the grand command

- TCL

Transaction Control Language(saving and restoring changes to a database)

Commit,Rollback,savepoint

create table employees(empid int not null,emp_name varchar(20),emp_status varchar(20),primary key(empid));

Insert into employees (empid,emp_name,emp_status,Contact) values (2,'Owais','married',03333276863);

update empolyees set emp_name='muhammad hassan' where empid=1;

delete from employees where empid=1;

#### SQL Operators

###### WHERE CLAUSE
select * from employees where emp_status='single';
###### Logical operators
 And-->True if both cond satisfy (n>10 and n<100) 
 
 OR--> True if 1 cond true
 
 NoT-->true (5<2)
###### SQL Operators Special
- Between 

checks an attributes value within a range

- Like 

checks an attributes value matches given string pattern

- Is Null

checks an attributes value is Null

- In

checks an attributes value matches any value within a value list

- Distinct

limits values to unique values

# Sql Aggregations

- Avg()
- Count()
- Max()
- Min()
- Sum()
- Select avg(Salary) from employees;
- Select min(Salary) from employees;
- Select max(Salary) from employees;
- Select sum(Salary) from employees;
- Select Count(*) from employees;  count rows


#### Group by Cluase